body {
    margin:0;    
    height:100vh; 
    width:100vw;  

}
.nav-link{
    text-align: right;
}
.navbar{
    background-color: #242424;
}
.divs{
    height: 100vh;
    width: 100vw;
    background-size:cover;
    background-position: center;
}
.home{
    background-image:url('./views/public/servers.jpg');
    height: min-content;
    height: 100vh;
}
    .hAText {
        position: relative;
        font-weight: 600;
        font-size: 15vw;
    }
    .hAText .letters {
        position: relative;
        top: 5px;
        opacity: 0;
        color: #bec0c4;
        text-shadow: 2px 2px 4px #000000;
    }

    .hAText .letters-5 {
    position: absolute;
    padding-top: 20vh;
    top:0;
    left:0;
    text-align: center;
    
    opacity: 0;
    }
    
  
.about{
    background-color:#ffffff;
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    width: auto;
    
}
    .aTContainer {
    width: 62vw;
    margin: 0 auto;
    padding-top: 15vh;
    }
  
  .aboutText{
      text-align: center;
      margin-bottom: 0;
      letter-spacing: 1.5px;
      font-size: 1.1vw;
  }
  .aboutText2{
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    margin-top: 30px;
    font-size: 1.1vw;
}
.toolContainer{
    width: 62vw;
    margin: 0 auto;
    padding-top: 15vh;
}
.toolsText{
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.icon-flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
    width: 67vw;
    margin: 0 auto;
    justify-content: space-around;
}

  .iconDivs{
    /* background-color: #f1f1f1; */
    width: 13.89vw;
    height: 150px;
    margin: 10px;
    
  }
  .iconDivs > img {
    width:7vw;
    margin-left: 3.5vw;
  }
  .iconDivs > p {
    text-align: center;
    margin-bottom: 0;
  }

    
   
.portfolio{
    /* background-image:url('./views/public/building.jpg');
    background-color: rgba(0, 0, 0, .2); */
    height: auto;
    width: auto;
    background-color: #2c2e43;
    padding-bottom: 1vh;
}

/* #particles-js{ 
    position:relative;
    width: 100%;
    height: 100%;
    background-color: #2c2e43;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }  */
  
.rProjects{
    padding-top: 55px;
    padding-left: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.pCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20vh;
    border-radius: 7px;
}
 .pCard > img{
    border-radius: 7px 7px 0px 0px;
 }

.pCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 62vw;
}
.pCardFooter {
    display: flex;
    justify-content: space-between;
  }

.pInfo {
    padding: 2px 16px;
}

.pBtn{
    background-color: #649cc5;
    color: white;
}

    
.contact{
    background-image:url('./views/public/wood-laptop.jpeg');
    height: min-content;
}
.handshake{
    opacity: 0.7;
    width: 25vw;
}
.contactHeader{
    color: #afa074;
    font-size: 8vw;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 60px;
    font-family: vendetta Arial, Helvetica, sans-serif;
    
}
.contactContainer{
    width: 60vw;
   padding-left:0;
   padding-right: 0;
  }
.invalid-feedback{
    color: #ff0000;
    text-shadow: 2px 2px 4px #000000;
}
#footer{
    background-color: #242424;
}
.footer{
    margin-bottom: 0;
}

/* media queries */
@media screen and (max-width: 1024px){

    .aTContainer {
        width: 80vw;
        padding-top: 75px;
    }
    .toolContainer{
        width: 80vw;
        padding-top: 20px;
        margin: 0 auto;
    }
    
    .aboutText, .aboutText2{
        font-size: 1.4vw;
    }
    .pCard {
        width: 90vw;
    }
    .pCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        width: 92vw;
    }
}

@media screen and (max-width: 576px){
    .home {
        height: 100vh;
    }
    .hAText .letters {
        top: 20vh;
        font-size: 20vw;
        
    }
    
    .contact {
        height: auto;
        width: auto;
    }
    .contactContainer{
        padding-bottom: 10px;
    }
    #footer{
        font-size: 4vw;
    }
    .aboutText {
        font-size: 3.5vw;
    }
    .aboutText2 {
        font-size: 3vw;
        padding: 30px;
    }
    .aTContainer {
        width: 68vw;
    }
    .icon-flex-container {
        width: 85vw;
    }
    .iconDivs {
        width: 100px;
        height: 100px;
    }
    .iconDivs > img {
        width: 70px;
        margin-left: 4vw;
    }
    .nodeImg{
        width: 95px !important;
        margin-left: 2.5vw !important;
        margin-top: -4vw !important;
    }
    .reduxImg{
        margin-top: -7px !important;
    }
    .nodeP{
        margin-top: -11px;
    }
    .portfolio {
        height: auto;
        width: auto;
    }
    .mPImgDiv{
        padding-right: 0px;
        padding-left: 0px;
    }
    .pfDesDivs{
        font-size: 3.1vw;
    }
    .pfDesDivs h1 {
        font-size: 3.1vw;
    }
    .herokuIcon {
        height: 4vw;
        margin-bottom: 0.2em;
    }
    .fa-github {
        font-size: 3.9vw;
    }
    .rProjects {
        font-size: 7vw;
    }
    .pBtn {
        height: 38px;
        margin-left: 1px;
    }
    .pCard {
        margin-bottom: 10vh;
    }
}