<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='../dstStyles.css' />
    <title> Door Stop Food </title>
</head>

<body>
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <a class="navbar-brand" href="/">Francisco Arroyo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                          <span class="navbar-toggler-icon"></span>
                        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dsfContainer">
        <h1 class="mainHeader">Door Stop Food</h1>
        <p class="pInfo">A Web App clone of Postmates food delivery where users can enter their address, find restaurants near their location,
            create a cart and place an order. </p>
        <div class="upperContainer">
            <div class="builtInfo">
                <p>Built with:</p>
                <ul>
                    <li>MongoDB</li>
                    <li>Express</li>
                    <li>Loopback</li>
                    <li>ReactJS</li>
                    <li>NodeJS</li>
                    <li>Redux</li>
                    <li>& more...</li>
                </ul>
            </div>
            <img src="./views/public/dst.png" alt="Image of Project">
        </div>
        <div class="imgContainer">
            <img src="./views/public/dstAuto.png" alt="Image of Project">
            <img src="./views/public/dstSignup.png" alt="Image of Project">
        </div>
        <div class="signupInfo">
            <p>Users begin typing their address in the search bar and as each character is entered 
                a suggestion is given for their possible address, this is powered by Google Places Api. 
                Or, Users can start the process of sign up by navigating through the login button. 
                Input fields request information to create contact data and user login account.</p>
        </div>
        <div class="imgContainer">
            <img src="./views/public/dstOwner.png" alt="Image of Project">
            <img src="./views/public/dstAddMenu.png" alt="Image of Project">
        </div>
        <div class="signupInfo">
            <p>During sign up, select restaurant owner option to begin entering restaurant 
                information that will be visible during searches such as name and cover photo. 
                Click on "Proceed to add menu items" and begin adding your restaurant's amazing options.
                Easily view added items. On submission of information and menu items, Axios HTTP request send data to MongoDB for storage
                 and will now be available on searches. 

            </p>
        </div>
        <div class="imgContainer">
                <img src="./views/public/dstResults.png" alt="Image of Project">
                <img src="./views/public/dstSearchMenu.png" alt="Image of Project">
            </div>
            <div class="signupInfo">
                <p>Search Results are displayed with restaurants name and type of food. Click on your
                    restaurant of choice to view menu. Menu items display name, price, description 
                    and are separated by type. :Hover over the menu item to reveal the add button to add items to your cart.
                    click on the cart button to see your items. Finally Checkout!
                </p>
            </div>


    </div>

    <div id="footer" class="container-fluid">
        <p class="py-2 pr-2 text-muted text-right footer">&copy;2018 Francisco Arroyo </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>

</html>