<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='../styles.css' />
    <title> Francisco's Portfolio </title>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Francisco Arroyo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="divs home" id="home">
        <h1 class="hAText">
            <span class="letters letters-1">Dream</span><br>
            <span class="letters letters-2">Imagine</span>
            <span class="letters letters-3">Build</span>
            <span class="letters letters-4">Create</span>
            <span class="letters letters-5">Arroyo Creations</span>
        </h1>
    </div>
    <div class="divs about" id="about">
        <div class="aTContainer">
            <p class="aboutText">My name is Francisco Arroyo.</p>
            <p class="aboutText">I am a Full Stack Developer with a great interest in building </p>
            <p class="aboutText">dynamic Web and Mobile Apps with a focus on consumer and business needs. Looking to apply </p>
            <p class="aboutText">my passion and dedication for software development with a company where I can</p>
            <p class="aboutText">continue to learn, grow and contribute.</p>
        </div>
        <p class="aboutText2">Please continue to view my recent projects and how to contact me. Enjoy ~</p>
        <div class="toolContainer">
            <p class="toolsText aboutText">I create with:</p>
        </div>
        <div class="icon-flex-container">
            <div class="iconDivs"><img src="./views/public/html5.png" alt="HTML5 Icon">
                <p>HTML5</p>
            </div>
            <div class="iconDivs"><img src="./views/public/css3.png" alt="CSS3 Icon">
                <p>CSS3</p>
            </div>
            <div class="iconDivs"><img src="./views/public/js.png" alt="JS Icon" style="border-radius: 15%">
                <p>JavaScript</p>
            </div>
            <div class="iconDivs"><img src="./views/public/react.png" alt="React Icon">
                <p>React &</p>
                <p>React Native</p>
            </div>
            <div class="iconDivs"><img src="./views/public/nodejs.png" alt="Node Icon" class="nodeImg" style="width: 9.03vw; margin-left: 2.5vw; margin-top: -2vw;">
                <p class="nodeP">Node</p>
            </div>
            <div class="iconDivs"><img src="./views/public/mongodb.png" alt="MongoDB Icon">
                <p>MongoDB</p>
            </div>
            <div class="iconDivs"><img src="./views/public/redux.png" alt="Redux Icon" style="padding-top: 12.52px" class="reduxImg">
                <p>Redux</p>
            </div>
            <div class="iconDivs"><img src="./views/public/github.png" alt="GitHub Icon">
                <p>GitHub</p>
            </div>
        </div>
    </div>
    <div class="divs portfolio" id="portfolio">
            <h1 class="rProjects">Recent Projects</h1>
            <div class="pCard">
                <img src="./views/public/sdjs.png" alt="Image of Project" style="width:100%">
                <div style="background-color: #0000001c;height:1px"></div>
                <div class="pInfo">
                    <h4><b>San Diego Check-In</b></h4>
                    <div class="pCardFooter">
                    <p>Mobile check-in app for the meetup group San Diego JS</p>
                    <form action="/SanDiegoCheckIn" method="GET">
                        <button class="pBtn btn" type="submit">See More</button>
                    </form>
                </div>
                </div>
            </div>
            <div class="pCard">
                <img src="./views/public/dst.png" alt="Image of Project" style="width:100%">
                <div style="background-color: #0000001c;height:1px"></div>
                <div class="pInfo">
                    <h4><b>Door Stop Food</b></h4>
                    <div class="pCardFooter">
                    <p>A Web App clone of Postmates food delivery</p>
                    <form action="/DoorStopFood" method="GET">
                        <button class="pBtn btn" type="submit">See More</button>
                    </form>
                </div>
                </div>
            </div>
            <div class="pCard">
                <img src="./views/public/mfinder.png" alt="Image of Project" style="width:100%">
                <div style="background-color: #0000001c;height:1px;"></div>
                <div class="pInfo">
                    <h4><b>Movie Finder</b></h4>
                    <div class="pCardFooter">
                    <p>Let's find you a movie</p>
                    <form action="/MovieFinder" method="GET">
                    <button class="pBtn btn">See More</button>
                </form>
                </div>
            </div>
            </div>
            <div class="pCard">
                <img src="./views/public/weatherapp.png" alt="Image of Project" style="width:100%">
                <div style="background-color: #0000001c;height:1px;"></div>
                <div class="pInfo">
                    <h4><b>Origin Weather App</b></h4>
                    <div class="pCardFooter">
                    <p>Always know if you'll need an umbrella!</p>
                    <form action="/WeatherApp" method="GET">
                    <button class="pBtn btn">See More</button>
                </form>
                </div>
            </div>
            </div>
            <div class="pCard">
                <img src="./views/public/TravelWise.png" alt="Image of Project" style="width:100%">
                <div style="background-color: #0000001c;height:1px;"></div>
                <div class="pInfo">
                    <h4><b>Travel Wise</b></h4>
                    <div class="pCardFooter">
                    <p>Quick facts to make you a Wise Traveller</p>
                    <form action="/TravelWise" method="GET">
                    <button class="pBtn btn">See More</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="divs contact" id="contact">
        <div class="text-center">
            <h1 class="contactHeader">Let's Connect</h1>
            <img class="handshake" src="./views/public/handshake.png" />
        </div>
        <form class="container contactContainer text-white" id="needs-validation" action="/thanks" method="POST" novalidate>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="validationCustom01">First name</label>
                    <input type="text" name="firstName" class="form-control" id="validationCustom01" required>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" name="lastName" class="form-control" id="validationCustom02" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="validationCustom03">Phone Number</label>
                    <input type="number" name="phoneNumber" class="form-control" id="validationCustom03" required>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="validationCustom04">Email</label>
                    <input type="email" name="email" class="form-control" id="validationCustom04" required>
                </div>
            </div>
            <div class="form-group">
                <label for="validationCustom05">Contact Message</label>
                <textarea class="form-control" name="message" id="validationCustom05" required rows="5"></textarea>
                <div class="invalid-feedback">
                    Please complete all fields*
                </div>
            </div>
            <button class="btn btn-dark" type="submit">Message Me</button>
        </form>
    </div>
    <div id="footer" class="container-fluid">
        <p class="py-2 pr-2 text-muted text-right footer">&copy;2018 Francisco Arroyo </p>
    </div>


    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../scrolling-nav.js"></script>
    <script src="../match-height-init.js"></script>
</body>

</html>