<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='../sdjsStyles.css' />
    <title> San Diego Check-In </title>
</head>

<body>
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <a class="navbar-brand" href="/">Francisco Arroyo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                          <span class="navbar-toggler-icon"></span>
                        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sdjsContainer">
        <h1 class="mainHeader">San Diego Check-In</h1>
        <p class="pInfo">A mobile check-in App for the meetup group San Diego JS. App users can view upcoming events, RSVP for events, Check-in
            to the events they attend and more... </p>
        <div class="upperContainer">
            <div class="builtInfo">
                <p>Built with:</p>
                <ul>
                    <li>Expo</li>
                    <li>React Native</li>
                    <li>MongoDB</li>
                    <li>Express</li>
                    <li>Loopback</li>
                    <li>NodeJS</li>
                    <li>Redux</li>
                    <li>& more...</li>
                </ul>
            </div>
            <img src="./views/public/sdjs.png" alt="Image of Project">
        </div>
        <div class="midContainer">
            <img src="./views/public/signup.png" alt="Image of Project">
            <div class="signupInfo">
                <p>Users may sign up with 3rd party accounts Github and Google or sign up directly on the App. We used Loopback
                    to help build the back end and for authentication, along with Axios HTTP requests to custom endpoints and lastly
                    backed by MongoDB. </p>
            </div>

        </div>
        <div class="reverseContainer">
            <div class="signupInfo">
                <p>Easily RSVP for the next event or click on any upcoming events for further details. 
                    The Tab Bar navigates you to San Diego JS online page, their Slack Channel, User Profile Page and a future feature Polling section.
                    We use Axios HTTP requests to the Meetup API to retreive 8 upcoming events data for display, as
                     well as to post RSVP data to MongoDB.  </p>
            </div>
            <img src="./views/public/events.png" alt="Image of Project">
        </div>
        <div class="midContainer">
                <img src="./views/public/EventDetails.png" alt="Image of Project">
                <div class="signupInfo">
                    <p>On the day of the event users may check-in based on the time and their location. 
                        Event details such as date, time, location and more are displayed on this scrolling 
                        page. We used Expo's API Permissions to request user location, along with Geofencing 
                        to confirm check-in. </p>
                </div>
    
            </div>
    </div>
    <div id="footer" class="container-fluid">
        <p class="py-2 pr-2 text-muted text-right footer">&copy;2018 Francisco Arroyo </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>

</html>